body {
    margin: 0;
    background: black;
    overflow: hidden;
  }
  
  #playMusic {
  position: absolute;
	top: 50%;
    right: 50%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #ff4081;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}